{% load static %}

<!--<!doctype html>-->
<!--&lt;!&ndash;[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]&ndash;&gt;-->
<!--&lt;!&ndash;[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]&ndash;&gt;-->
<!--&lt;!&ndash;[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]&ndash;&gt;-->
<!--&lt;!&ndash;[if gt IE 8]>&lt;!&ndash;> <html class="no-js" lang=""> &lt;!&ndash;<![endif]&ndash;&gt;-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">