
{% load static %}
{% include 'header0.html' %}

{% block content0 %}
<title>교육과정</title>
{% endblock %}

{% include 'header.html' %}

{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>CLASS LIST</title>
</head>

{% endblock %}


{% include 'header2.html' %}

{% block content1 %}

<body>
<div class="container">
<div id="books" style="margin-top:10px;">
    <div class="row book-item">
        <div class="col-sm-6" style="margin-bottom:10px;">
            <div class="media">
                <div class="media-left">
                    <a href="{% url 'hello_app:list' %}">
                        <div class="book-image">
                            <img src="{% static '/book/book_1.jpg' %}" class="book-image" width="150" height="200">
                        </div>
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                        <a href="{% url 'hello_app:list' %}" class="book-subject">파이썬 정복</a>
                    </h4>
                    <div class="book-detail">
                        <div>
                            - 김상형
                        </div>
                        <div>
                            - 2020년 10월 05일
                        </div>
                        <div>
                            - 한빛미디어
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="books" style="margin-top:10px;">
    <div class="row book-item">
        <div class="col-sm-6" style="margin-bottom:10px;">
            <div class="media">
                <div class="media-left">
                    <a href="{% url 'hello_app:list' %}">
                        <div class="book-image">
                            <img src="{% static '/book/book_2.jpg' %}" class="book-image" width="150" height="200">
                        </div>
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                        <a href="{% url 'hello_app:list' %}" class="book-subject">생활코딩! HTML+CSS+자바스크립트</a>
                    </h4>
                    <div class="book-detail">
                        <div>
                            - 이고잉
                        </div>
                        <div>
                            - 2019년 01월 15일
                        </div>
                        <div>
                            - 위키북스
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="books" style="margin-top:10px;">
    <div class="row book-item">
        <div class="col-sm-6" style="margin-bottom:10px;">
            <div class="media">
                <div class="media-left">
                    <a href="{% url 'hello_app:list' %}">
                        <div class="book-image">
                            <img src="{% static '/book/book_3.jpg' %}" class="book-image" width="150" height="200">
                        </div>
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                        <a href="{% url 'hello_app:list' %}" class="book-subject">파이썬 웹 프로그래밍 (Django장고로 배우는 쉽고 빠른 웹 개발) </a>
                    </h4>
                    <div class="book-detail">
                        <div>
                            - 김석훈
                        </div>
                        <div>
                            - 2018년 08월 17일
                        </div>
                        <div>
                            - 한빛미디어
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

{% endblock %}


{% include 'footer.html' %}

{% block content2 %}

{% endblock %}

{% include 'footer2.html' %}
